.liq_checklist {
  li {
    background-image: url(/public/images/icons/list_icon.svg);
    background-repeat: no-repeat;
    min-height: 30px;
    text-align: left;
    padding: 3px 20px 0 45px;
    margin: 15px 0;

    @media (min-width: $screen-xs-max) {
      width: 50%;
      float: left;
    }

    &:before {
      display: none;
    }
  }
}
