.touch .liq_main--home,
.touch .liq_main {
    margin-top: 0;
}

.liq_main {
    padding: 40px 0;
    margin-top: 300px;
    // https://www.w3.org/TR/css3-2d-transforms/#transform-rendering
    // transform: translate3D(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    position: relative;

    ul {
        list-style: none;
        padding: 0 15px;
        margin: 10px 0 30px;

        li {
            position: relative;
            margin-bottom: 15px;
        }

        li:before {
            content: '\25a0';
            color: $brand-primary;
            padding: 0 0px 0 0;
            position: absolute;
            left: -14px;
            top: 0px;
            font-size: 15px;
        }
    }


}

.liq_main--home {
    background-color: #fff;
    padding-top: 40px;
    position: relative;
    margin-top: 0;
}

.liq_main--post {
    margin-top: 100px;
}

@media print {
    .liq_main {
        margin-top: 0px;
    }
}
