// needded to make a full-width hr for example
.liq_reverse-padding {

    &--card-simple {
        margin-left: -30px;
        margin-right: -30px;
    }

    &--panel {
        margin-left: -40px;
    }
}
