.liq_button-select {
    &__button {
        background-color: white;
        border: none;
        border-radius: 20px;
        padding: 2px 15px 3px;
        user-select: none;
        outline: 0;
        transition: all 0.2s ease-out;

        &:hover, &--active, &:focus {
            background-color: $color__blue;
            color: white;
            outline: 0;
        }
    }
}
