.header {
    margin-top: 20px;
}

#screen {
    width: 1440px;
    height: 900px;
}

#screen-image {
    width: 100%;
}

#client-menu {
    margin-bottom: 20px;
}

.card-inverse {
    color: white;
}
