@import 'app/variables';
// Libs
@import 'libs/bootstrap_app';
@import 'libs/flexbox/flexboxgrid';
@import "libs/bourbon/bourbon";

// SMACSS Base - https://smacss.com/book/type-base
@import 'app/base/body';
@import 'app/base/print-base';
@import 'app/base/navbar';
@import 'app/base/typographie';
@import 'app/base/markdown';

// SMACSS Layout - https://smacss.com/book/type-layout
@import 'app/layout/grid';
@import 'app/layout/content';
@import 'app/layout/footer';
@import 'app/layout/card';
@import 'app/layout/inline-card';
@import 'app/layout/tile';
@import 'app/layout/panel';
@import 'app/layout/pager';
@import 'app/layout/table';
@import 'app/layout/util';
@import 'app/layout/header/automatic-logout';
@import 'app/layout/header/navigation';

// SMACSS Module - https://smacss.com/book/type-module
// INPUT
@import 'app/module/input/checkbox';
@import 'app/module/input/radio';
@import 'app/module/input/slider';
@import 'app/module/input/strength-meter';
@import 'app/module/input/floating-label';
@import 'app/module/input/forms';
@import 'app/module/input/gap-text';
@import 'app/module/input/select';
@import 'app/module/input/checked';
@import 'app/module/input/password-text-field';
@import 'app/module/input/small-select';
@import 'app/module/input/button-select';
@import 'app/module/input/formatted';

// UTILITY
@import 'app/module/utility/counter';
@import 'app/module/utility/text-block';
@import 'app/module/utility/back-button';
@import 'app/module/utility/fancy-headline';
@import 'app/module/utility/loader';
@import 'app/module/utility/print-button';
@import 'app/module/utility/inline-loader';
@import 'app/module/utility/ribbon';
@import 'app/module/utility/tooltip';
@import 'app/module/utility/loading';
@import 'app/module/utility/icon-button';
@import 'app/module/utility/debug';
@import 'app/module/utility/reverse-padding';
@import 'app/module/utility/responsive-table';
@import 'app/module/utility/responsive-button-row';
@import 'app/module/utility/btn-hero-container';
@import 'app/module/utility/hint-box';
@import 'app/module/utility/fuzzy';
@import 'app/module/utility/account-locked-badge';
@import 'app/module/utility/nice-number';
@import 'app/module/utility/divider';
@import 'app/module/utility/animated-plus-button';
@import 'app/module/utility/sortable-table';
@import 'app/module/utility/drift-bar';
@import 'app/module/select-containing-text';

@import 'app/module/charts/charts';
@import 'app/module/charts/linechart';
@import 'app/module/charts/performance';
@import 'app/module/charts/waterfall';
@import 'app/module/charts/onboarding-bar-chart';
@import 'app/module/charts/investment-temperament-chart';
@import 'app/module/charts/plus-minus-relative-bar';
@import 'app/module/charts/simulator-chart';
@import 'app/module/charts/guideline';

@import 'app/module/animations';
@import 'app/module/icons/icons';
@import 'app/module/simulator';
@import 'app/module/progress';
@import 'app/module/alert';
@import 'app/module/nav-tabs';
@import 'app/module/nav-side';
@import 'app/module/portfolio/chart-card';
@import 'app/module/portfolio/portfolio-table';
@import 'app/module/portfolio/portfolio-card';
@import 'app/module/portfolio/portfolio-overview-card';
@import 'app/module/portfolio/portfolio-extended-information-card';
@import 'app/module/question';
@import 'app/module/nav-reducible';
@import 'app/module/step';
@import 'app/module/collapsible-table';
@import 'app/module/widget-static/contact-information';

// ADMIN MODULES
@import 'app/module/admin/admin';

// ONBOARDING MODULES
@import 'app/module/onboarding/onboarding';

// SMACSS State - https://smacss.com/book/type-state

// ONBOARDING STATE
@import 'app/state/onboarding/account-card';

// REGISTRATION MODULES
@import 'app/module/registration/registration';

// REGISTRATION STATE
@import 'app/state/registration/recap';
@import 'app/state/registration/cost-market-comparison';
@import 'app/state/registration/registration-general';
@import 'app/state/registration/registration-confirmation';
@import 'app/state/registration/choose-strategy';

// DASHBOARD STATE
@import 'app/state/dashboard/dashboard';
@import 'app/state/dashboard/portfolio-overview';
@import 'app/state/dashboard/user-settings';
@import 'app/state/dashboard/documents';
@import 'app/state/dashboard/portfolios';
@import 'app/state/dashboard/transactions';
@import 'app/state/dashboard/reporting';

// OTHER STATE
@import 'app/state/proofread';
@import 'app/state/register';
@import 'app/state/authentication';
@import 'app/state/activity';

@import 'kirby/components/browser-upgrade';

.liqid_app {
    height: 100%;
    min-height: 100%;
}

// TEMPORARY fix for using non-column-classes after a new .row
.row.no-col-following > div {
    float: left;
    width: 100%;
}

b, strong {
    font-weight: $weight__semi-bold;
}
