$color__black:          #252731;
$color__primary:        #EF233C;
$color__secondary:      #6290C3;
$color__grey--lightest: #F1F1F1;
$color__grey--lighter:  #EEEEEE;
$color__grey--light:    #BFBFBF;
$color__grey:           #A1A1A1;
$color__blue--light:    #F6F8FB;