/**
 * Basic button style
 * only used to compose new buttons
 */
.button {
    background-image: none;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    border-radius: 50px;
    font-size: 14px;
    line-height: 1.61803;
    padding: 6px 25px;
    text-align: center;
    touch-action: manipulation;
    transition: all .2s ease-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.button:active, .button:focus {
    outline: none;
}

/**
 * Types for the button
 */
.primary {
    composes: button;
    background-color: #ef233c;
    border-color: #ef233c;
    color: #FFF;
    fill: #FFF;
}
.primary:hover {
    background-color: #d00f27;
    border-color: #d00f27;
}
.secondary {
    composes: button;
    background-color: #6290c3;
    border-color: #6290c3;
    color: #FFF;
}
.secondary:hover {
    background-color: #4376af;
    border-color: #4376af;
}
.primary-outlined {
    composes: button;
    color: #ef233c;
}
.primary-outlined:hover {
    background-color: #d00f27;
    border-color: #d00f27;
    color: #FFF;
}
.secondary-outlined {
    composes: button;
    color: #6290c3;
}
.secondary-outlined:hover {
    background-color: #4376af;
    border-color: #4376af;
    color: #FFF;
}
.link {
    composes: button;
    background: none;
    border: none;
    color: #ef233c;
}
.link:hover {
    color: #d00f27;
}


.small {
    padding: 3px 15px;
}
.large {
    padding: 8px 30px;
}
.deactivated {
    cursor: not-allowed;
    opacity: .65;
}
.deactivated.primary:hover {
    background-color: #ef233c;
    border-color: #ef233c;
}
.deactivated.primary-outlined:hover {
    background: none;
    border-color: #ef233c;
    color: #ef233c;
}
.deactivated.secondary-outlined:hover {
    background: none;
    border-color: #ef233c;
    color: #ef233c;
}
.deactivated.secondary:hover {
    background-color: #6290c3;
    border-color: #6290c3;
}
.deactivated.secondary-outlined:hover {
    background: none;
    border-color: #6290c3;
    color: #6290c3;
}