/**
 * Basic button style
 */
.button {
    background-image: none;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    border-radius: 50px;
    font-size: 14px;
    line-height: 1.61803;
    padding: 6px 25px;
    text-align: center;
    touch-action: manipulation;
    transition: all .2s ease-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

/**
 * Types for the button
 */
.primary {
    background-color: #ef233c;
    border-color: #ef233c;
    color: #FFF;
}
.primary:hover {
    background-color: #d00f27;
    border-color: #d00f27;
}
.secondary {
    background-color: #bfbfbf;
    border-color: #bfbfbf;
    color: #FFF;
}
.secondary:hover {
}

.primaryOutlined {
    color: #ef233c;
}
.primaryOutlined:hover {
    background-color: #d00f27;
    border-color: #d00f27;
    color: #FFF;
}
.secondaryOutlined {
    color: #bfbfbf;
}
.secondaryOutlined:hover {
}


.deactivated {
    cursor: not-allowed;
    opacity: .65;
}
.deactivated.primary:hover {
    background-color: #ef233c;
}
.deactivated.primaryOutlined:hover {
    background: none;
    border-color: #ef233c;
    color: #ef233c;
}
